:root {
    --primary-color: #3685fb;
    --primary-color-dark: #2f73d9;
    --secondary-color: #fafcff;
    --text-dark: #0d213f;
    --text-light: #767268;
    --extra-light: #ffffff;
    --max-width: 1200px;

    --h1-font :3rem;
    --h2-font :2.9rem;
    --p-font: 1rem;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    color: var(--text-darkr);
    background: var(--secondary-color);
}
nav.sticky{
    background-color: rgba(44, 70, 95, 0.5);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
    padding: 10px 10px;
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16%;
    background: transparent;
    transition: all .50s ease;

}
.logo{
    font-size: 25px;
    
    color: var(--extra-light);
    font-weight: 700;
}
span{
    color: var(--primary-color-dark);
}

.navlist{
    display: flex;
}

.navlist a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--extra-light);
    margin-left:40px;
    transition: all .50s ease;
    
}
.navlist a:hover{
    color:var(--primary-color-dark);
    text-shadow: 3px 3px 20px var(--primary-color-dark), -2px 1px 30px var(--primary-color);

}
img {
  width: 100%;
  display: block;
}

/* #menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
} */
.btn-register{
    color: var(--extra-light);
}
.btn-login{
    margin-left: 10px;
    display: inline-block;
    padding: 5px 20px;
    background: transparent;
    background: var(--primary-color-dark);
    color: var(--extra-light);
    border: 2px solid var(--primary-color-dark);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;

}
.btn-register:hover{
    color:var(--primary-color-dark);
    text-shadow: 3px 3px 20px var(--primary-color-dark), -2px 1px 30px var(--primary-color);
    transform: scale(1.1);
}
.btn-login:hover{
    background: var(--primary-color-dark);
    box-shadow: 0 0 20px var(--primary-color-dark);
    color: var(--extra-light);
    transform: scale(1.1);
}

section{
    padding:80px 16% 80px;
}
.hero{
    height: 100vh;
    width:100%;
    background: url(assets/hero.jpg);
    background-position: top right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0)); /* Gradasi dari kiri ke kanan */
     
}
.main-content{
    z-index: 1;
}

.main-content h1{
    color: var(--extra-light);
    font-size:var(--h1-font);
    font-weight: 1000;
    margin: 5px 0px 10px;
    line-height: 1.2;

}
.main-content p{
    font-size: var(--p-font);
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color: var(--extra-light);
    line-height: 30px;
    margin-bottom: 10px;
}
.btn{
    display: inline-block;
    padding: 5px 20px;
    background: var(--primary-color-dark);
    color: var(--extra-light);
    border: 2px solid var(--primary-color-dark);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50 ease;
}
.btn:hover{
    background: transparent;
    color:var(--primary-color-dark);
    box-shadow: 0 0 20px var(--primary-color-dark);
}
.about {
    background-color: var(--extra-light);
  }
.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
  }
  
  .section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }
  
  .section__title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 1rem;
  }
  
  .section__subtitle {
    font-size: 1rem;
    color: var(--text-dark);
    max-width: calc(var(--max-width) / 2);
  }

  .header__container {
    min-height: 110vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .header__image {
    position: relative;
  }
  
  .header__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0.2rem solid var(--extra-light);
    border-radius: 2rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .header__image img:nth-child(1) {
    max-width: 350px;
    transform: translate(-75%, -50%);
  }
  
  .header__image img:nth-child(2) {
    max-width: 250px;
    transform: translate(0%, -25%);
  }
  
  .header__content {
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header__content > div {
    max-width: 400px;
    display: grid;
    gap: 1rem;
  }
  
  .header__content .sub__header {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
  }
  
  .header__content h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: var(--text-dark);
  }
  .header__content p {
    font-size: 1rem;
    line-height: 30px;
    font-weight: 400;
    color: var(--text-dark);
  }
  
  .header__content .action__btns {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
  }

/* List dengan gambar */
.feature-content{
  margin-right: 2rem;
}
.feature-content h1{
  
  font-size: 2rem;
  margin-bottom: 1rem;
}
.feature-content p{
  margin-bottom: 1rem;
}
.feature-list {
  list-style: none;
  
}
.feature-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}

.feature-list li img {
  width: 50px; /* Sesuaikan ukuran gambar */
  margin-right: 20px;
}

.feature-list li .text {
  font-size: 1.2rem;
  font-weight: 600;
}

.feature-list li .text p{
  font-size: 1rem;
  font-weight: 400;
}

  .container {
    display: grid;
    grid-template-columns: auto 400px; /* Satu kolom untuk konten utama, satu kolom untuk grid gambar */
    gap: 20px; /* Jarak antara elemen */
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 200px); /* Dua kolom dengan lebar 100px masing-masing */
    grid-auto-rows: 200px; /* Tinggi otomatis 100px */
    gap: 2px; /* Jarak antara gambar */
  }
  
  .image-grid img {
    width: 100%; /* Gambar mengisi lebar kontainer */
    height: 100%; /* Gambar mengisi tinggi kontainer */
    object-fit: cover; /* Memastikan gambar tetap proporsional */
  }
  .rounded-image1 {
    border-radius: 0 30% 0 30%; /* Border radius pada sudut kanan atas dan sudut kiri bawah */
  }
  .rounded-image2 {
    border-radius: 30% 0 30% 0; /* Border radius pada sudut kanan atas dan sudut kiri bawah */
  }
  .rounded-image3 {
    border-radius:  30% 0 30% 0; /* Border radius pada sudut kanan atas dan sudut kiri bawah */
  }
  .rounded-image4 {
    border-radius: 0 30% 0 30%; /* Border radius pada sudut kanan atas dan sudut kiri bawah */
  }

.feature-content{
  color: var(--text-dark);
}
/* destination */
.destination {
  background-color: var(--extra-light);
}

.destination__container :is(.section__title, .section__subtitle, .view__all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.destination__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin: 2rem 0;
}

.destination__card {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
}

.destination__details {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--extra-light);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}

.destination__card:hover .destination__details {
  bottom: 1rem;
}
.destination__grid {
  gap: 1rem;
}

/* Trip */
.trip {
  background-color: var(--secondary-color);
}

.trip__container :is(.section__title, .section__subtitle, .view__all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.trip__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}

.trip__card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.trip__details {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--extra-light);
  cursor: pointer;
}

.rating {
  color: goldenrod;
}

.booking__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price span {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-light);
}

.book__now {
  padding: 0.5rem 1.5rem;
  color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.book__now:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.subscribe {
  background-color: var(--extra-light);
}

.subscribe__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  background-color: var(--extra-light);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.subscribe__form input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
}

.footer {
  background-color: var(--text-dark);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  color: var(--secondary-color);
}

.footer__col h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__col h3 span {
  color: var(--primary-color);
}

.footer__col p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col p span {
  font-weight: 600;
}

.footer__col h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--secondary-color);
  border-top: 1px solid var(--text-light);
}
@media (width < 1200px) {
  .logo{
    font-size: 35px;
  }
  .btn-register .btn-login{
    font-size: 30px;
  }
  .navlist {
    display: none;
  }
  .hero{
    height: 100vh;
    width:100%;
    max-width: 100%;
  }
  .main-content p{
    width: 520px;
    
  }
  .overlay{
    width: 100%;
  }
  .header__image img:nth-child(1) {
    max-width: 300px;
  }

  .header__image img:nth-child(2) {
    max-width: 200px;
  }
}

@media (width < 900px) {
  .logo{
    font-size: 35px;
  }
  .btn-register .btn-login{
    font-size: 30px;
  }
  .navlist {
    display: none;
  }
  .hero{
    height: 100vh;
    width:100%;
    max-width: 100%;
  }
  .overlay{
    width: 100%;
  }
  .main-content p{
    width: 420px;
    
  }
  .container {
    display: flex;
    grid-template-columns: auto 400px; /* Satu kolom untuk konten utama, satu kolom untuk grid gambar */
    gap: 20px; /* Jarak antara elemen */
  }
  
  .image-grid {
    display: none;
    grid-template-columns: repeat(2, 200px); /* Dua kolom dengan lebar 100px masing-masing */
    grid-auto-rows: 200px; /* Tinggi otomatis 100px */
    gap: 2px; /* Jarak antara gambar */
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__image {
    min-height: 500px;
  }

  .destination__grid {
    gap: 1rem;
  }

  .trip__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .logo{
    font-size: 35px;
  }
  .btn-register .btn-login{
    font-size: 30px;
  }
  nav{
    padding: 20px 22% 20px 20px;
  }

  .navlist {
    display: none;
  }
  .hero{
    height: 100vh;
    width:100%;
    
  }
  .overlay{
    width: 100%;
  }
  .main-content p{
    width: 420px;
    
  }
  .header__content{
    margin-left: 40px;
  }

  .container {
    display: flex;
    grid-template-columns: auto 400px; /* Satu kolom untuk konten utama, satu kolom untuk grid gambar */
    gap: 20px; /* Jarak antara elemen */
  }
  
  .image-grid {
    display: none;
    grid-template-columns: repeat(2, 200px); /* Dua kolom dengan lebar 100px masing-masing */
    grid-auto-rows: 200px; /* Tinggi otomatis 100px */
    gap: 2px; /* Jarak antara gambar */
  }
  .trip__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallary__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .subscribe__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
 
  


